body {
    background-color: #ffcc66;
    color: #003366;
    font-family: 'Verdana', sans-serif;
}
header {
    background: linear-gradient(to right, #ff6600, #33cc33);
    padding: 15px;
    text-align: center;
}
nav a {
    color: #003366;
    margin: 10px;
    text-decoration: none;
}
.btn {
    background-color: #ff0000;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
